{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">Active Lottery Rounds</h1>

    {% if user.is_staff and form %}
    <div class="card mb-5 border-primary create-draw-card">
        <div class="card-header">
            <h2 class="mb-0 h5">Create Draw</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Create Round</button>
                <a href="{% url 'round_list' %}" class="btn btn-secondary float-end">Cancel</a>
            </form>
        </div>
    </div>
    {% endif %}

    {% if rounds %}
    <div class="mb-4">
        <p>Explore the current active lottery rounds and enter for a chance to win!</p>
    </div>
    <div class="row">
        {% for round in rounds %}
        <div class="col-md-4 mb-3">
            <div class="card active-round-card">
                <div class="card-body">
                    <div>
                        <h2 class="h5">{{ round.title }}</h2>
                        <p>
                            Starts: {{ round.start_date }}<br>
                            Ends: {{ round.end_date }}
                        </p>
                        <a href="{% url 'enter_round' round.id %}" class="btn btn-primary">Enter</a>
                        {% if user.is_staff %}
                        <a href="{% url 'run_draw' round.id %}" class="btn btn-warning float-end">
                            Run Draw
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        <h2 class="alert-heading h4">All Clear!</h2>
        <p>No active rounds at the moment.</p>
    </div>
    {% endif %}
</div>
{% endblock %}