@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Custom CSS Variables */
:root {
  --primary-color: #86afc6;
  --secondary-color: #c9a477;
  --background-color: #f9f9f9;
  --text-color: #333;
  --font-family: "Nunito", sans-serif;
}

/* Global Styles */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/*Button Styles*/
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

/* Navbar Styles */
.navbar {
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-brand img {
  border-radius: 8px;
}

/*Hero Section Styles*/
.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center bottom;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  text-align: center;
  color: var(--text-color);
  padding: 40px;
  border-radius: 10px;
}
